$font-primary: courier, palatino, avenir, helvetica, arial, sans-serif;
$weight-regular: 400;
$weight-bolder: 500;
$weight-bold: 800;
$base-letter-spacing: 0.5px;
$base-font-size: 18px;
$font-size-s: 14px;
$base-line-height: 1.5;
